        /*index*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sectioni1{color: #96E1FF; background-color: transparent;height:300px;margin-top: 180px;}
		#sectioni2 {color: #96E1FF; background-color: transparent;height:500px;margin-top: 100px;}
		#sectioni3 {color: #96E1FF; background-color: transparent;height:1400px;margin-top: 100px;}
		#sectioni4 {color: #96E1FF; background-color: transparent;height:470px;margin-top: 100px;}
        #sectioni5 {color: #96E1FF; background-color: transparent;height:550px;margin-top: 100px;}
        #sectioniR {color: #96E1FF; background-color: transparent;height:350px;margin-top: 100px;margin-bottom: 50px;}
		/*project*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sectionp1 {color: #96E1FF; background-color: transparent;height:auto;margin-top: 180px;}
		#sectionp2 {color: #96E1FF; background-color: transparent;height:auto;margin-top: 100px;}
		#sectionp3 {color: #96E1FF; background-color: transparent;height:auto;margin-top: 100px;}
		#sectionp4 {color: #96E1FF; background-color: transparent;height:auto;margin-top: 100px;}
        #sectionp5 {color: #96E1FF; background-color: transparent;height:auto;margin-top: 100px;}
        #sectionpR {color: #96E1FF; background-color: transparent;height:auto;margin-top: 100px;margin-bottom: 50px;}
        
        /*design*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sectiond1 {color: #96E1FF; background-color: transparent;height:750px;margin-top: 120px;}
		#sectiond2 {color: #96E1FF; background-color: transparent;height:310px;margin-top: 100px;}
		#sectiond3 {color: #96E1FF; background-color: transparent;height:1400px;margin-top: 100px;}
		#sectiond4 {color: #96E1FF; background-color: transparent;height:470px;margin-top: 100px;}
        #sectiond5 {color: #96E1FF; background-color: transparent;height:550px;margin-top: 100px;}
        #sectiondR {margin-bottom: 50px;color: #96E1FF; background-color: transparent;height:350px;margin-top: 100px;}
        
        /*simulation*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sections1 {color: #96E1FF; background-color: transparent;height:750px;margin-top: 120px;}
		#sections2 {color: #96E1FF; background-color: transparent;height:310px;margin-top: 100px;}
		#sections3 {color: #96E1FF; background-color: transparent;height:1400px;margin-top: 100px;}
		#sections4 {color: #96E1FF; background-color: transparent;height:470px;margin-top: 100px;}
        #sections5 {color: #96E1FF; background-color: transparent;height:550px;margin-top: 100px;}
        #sectionsR {margin-bottom: 50px;color: #96E1FF; background-color: transparent;height:350px;margin-top: 100px;}

        /*mm*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sectionm1 {color: #96E1FF; background-color: transparent;height:400px;margin-top: 120px;}
		#sectionm2 {color: #96E1FF; background-color: transparent;height:310px;margin-top: 100px;}
		#sectionm3 {color: #96E1FF; background-color: transparent;height:1400px;margin-top: 100px;}
		#sectionm4 {color: #96E1FF; background-color: transparent;height:470px;margin-top: 100px;margin-bottom:200px;}
        #sectionm5 {color: #96E1FF; background-color: transparent;height:550px;margin-top: 100px;}
        #sectionmR {margin-bottom: 50px;color: #96E1FF; background-color: transparent;height:350px;margin-top: 100px;}
        #h3-ex{font-size: 35px;}  
        /*rd*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sectionr1 {color: #96E1FF; background-color: transparent;height:750px;margin-top: 120px;}
		#sectionr2 {color: #96E1FF; background-color: transparent;height:310px;margin-top: 100px;}
		#sectionr3 {color: #96E1FF; background-color: transparent;height:1400px;margin-top: 100px;}
		#sectionr4 {color: #96E1FF; background-color: transparent;height:470px;margin-top: 100px;margin-bottom:200px;}
        #sectionr5 {color: #96E1FF; background-color: transparent;height:550px;margin-top: 100px;}
        #sectionrR {margin-bottom: 50px;color: #96E1FF; background-color: transparent;height:350px;margin-top: 100px;}
        #h3-ex{font-size: 35px;}  
        /*team*/
		#section0 {color: white; background-color: transparent;height: 100px;}
		#sectiont1 {color: #96E1FF; background-color: transparent;height:600px;margin-top: 120px;}
		#sectiont2 {color: #96E1FF; background-color: transparent;height:450px;margin-top: 100px;}
		#sectiont3 {color: #96E1FF; background-color: transparent;height:800px;margin-top: 100px;}
		#sectiont4 {color: #96E1FF; background-color: transparent;height:1500px;margin-top: 100px;margin-bottom:0px;}
        #sectiont5 {color: #96E1FF; background-color: transparent;height:500px;margin-top: 70px;}
        #sectiontR {margin-bottom: 50px;color: #96E1FF; background-color: transparent;height:350px;margin-top: 100px;}
        #h3-ex{font-size: 35px;}