* { margin:0; padding:0; }
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }
body { 
  padding: 0 0; 
  background: #192d40 url('../img/bg.jpg') repeat-x; 
  line-height:24px;
  color: #e8eaeb; 
  text-align: center; 
  font:13px/180% Arial, Helvetica, sans-serif, "新宋体";
}

/* added --------------------------------------------------------------- */


/* links --------------------------------------------------------------- */
a {color:#fff;}
a:link {color:#fff;}
a:hover {color:#fff; text-decoration: none;}

/* headings --------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin:15px 0 10px 0; }
h1 { font-size:200%; }
h2 { font-size:160%; font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif; font-weight: normal; }
h3 { font-size:120%; margin-top: 25px; font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;}
h4 { font-size:120%; }
h5 { font-size:100%; }

/* layout ---------------------------------------------------------------------- */
#layout { 
  width:790px; 
  margin:0 auto; 
  text-align:left; 
}
  #container { 
  padding-top: 12px;
  }

  	/* header ------------------------------------------------------------------ */
  	#header { position:relative; padding-left: 7px;}
  
      #logo {
        font-family: Impact, 'Techno CE', sans-serif;
        font-weight: normal;
        color: #fff;
        position: relative; 
        overflow: hidden; 
        height: 110px;
        font-size:260%;
        margin: 0;
        line-height: 130px;
      }
      #logo a{
        color: #fff;
        text-decoration: none;
      }
      
      #logo .leaf {
        position: absolute; 
        left: 0; top: 20px; 
        z-index: 1; 
        width: 120px; height: 80px;
        background: url('../img/leaf.gif') 45px 5px no-repeat; 
        cursor: pointer;
      }
      
      #logo .light {
        color: #3f576e;
      }
        
    /* navigation --------------------------------------------------- */
    #nav {position:relative; z-index:2; border: 1px solid #1a2735; border-right: none; border-left: none; padding: 5px 0;}
      #nav ul {margin:0; padding:0; list-style:none;}
      	#nav ul li {float:left; display:inline; margin:0; padding:0;}
      	#nav ul li a {
      	  font-size: 18px;
      	  font-weight: bold;
          display: block; 
          color: #fff;
          text-decoration: none;
          float: left; /*\*/ float:none; 
          padding: 7px 25px 7px 7px;
          line-height: 18px;
        }
        
        #nav ul li a span {
      	  font-size: 11px;
      	  font-weight: normal;
      	  color: #67707a;
        }
        
        #nav ul li a:hover {
          background: #0a151f;
        }
      	#nav ul li#active a {
        }
  
  
  
    .content {
      float: right; 
      padding: 0 0 0 0;
      width:580px;
      z-index: 10;
    }
    .content .in{
      padding: 0 0 0 8px;
    }
  
  	/* columns ----------------------------------------------------------------- */
  	#panel-left { float:left; width:200px; }
  	.panel .in { padding: 10px; }
    
    #panel-left span  { color: #515f6a; }
    
    #panel-left p  { margin-top: 5px; }
	
	
	/* tagbox ----------------------------------------------------------------- */
.tagbox{width:280px;margin-top:1px;}
  
  	/* footer ----------------------------------------------------------------- */
  	#footer {
      clear:both;
      height: 77px;
      margin-top: 20px;
      border-top: 1px solid #324455;
      padding:10px 3px;
      color: #ffffff;
      font-size: 90%;
    }
    
    #footer a {
      color: #ffffff;
    }
    
      #footer p { margin:0; padding-top:10px; }
	  color: #ffffff;




/* paragraphs -------------------------------------------------------------------- */
p { margin:15px 0; }

/* tables --------------------------------------------------------------------- */
table { margin:15px 0; border: 1px solid #324455; border-collapse:collapse; border-spacing:0; font-size:100%; width: 100%;}
th { text-align:center; font-weight:bold; border: 1px solid #324455;}
th, td { padding:4px 6px; border: 1px solid #324455;}
tr.table-top {background: #425364; font-weight: bold;}

/* lists --------------------------------------------------------------------- */
ul, ol { display:block; margin:15px 0 15px 40px; }
ul ul, ul ul ul, ol ol, ol ol ol { margin:0; margin-left:20px; }
ol { list-style-type:decimal; }
ol ol { list-style-type:upper-alpha; }
ol ol ol {list-style-type:lower-alpha; }
li { display:list-item; }
ul li a { text-decoration:underline; }

/* definitions -------------------------------------------------------------------- */
dl { margin:15px 0; }
dt { font-weight:bold; }
dd { margin-left:30px; }


/* clock -------------------------------------------------------------------- */
#changebox{width:570px;height:342px;overflow:hidden; position:relative;} 
#changebox #changeAction{width:1220px;height:342px; position:absolute; } 
#changebox #changeAction #links{width:610px;height:342px;background:#000000; float:left;font:700 55px Arial, Helvetica, sans-serif; color:#FFFFFF;text-align:center;} 
#changebox #changeAction #links #threePro{ height:194px;float:left;} 
#changebox #changeAction #links #threePro dl{width:203px; height:190px; margin:0; padding:0; float:left;} 
#changebox #changeAction #links #threePro dl dt{width:203px;height:150px;margin:0;padding:0;float:left;overflow:hidden;position:relative;} 
#changebox #changeAction #links #threePro dl dt #Motherboard{margin:0 0 0 7px;position:absolute;left:0;top:0; text-align:center; float:left;} 
#changebox #changeAction #links #threePro dl dt #GraphicsCard{margin:0 0 0 7px;position:absolute;left:-203px;top:0; text-align:center; float:left;} 
#changebox #changeAction #links #threePro dl dt #Notebook{margin:0 0 0 7px;position:absolute;left:-410px;top:0; text-align:center; float:left;} 
#changebox #changeAction #links #threePro dl dd{width:147px;height:23px; background:url(indexPic.gif) 0 -339px; text-align:center;font:700 14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; padding:6px 0 0 0; margin:0 0 0 30px;cursor:pointer;} 
#changebox #changeAction #links #support{width:600px; height:28px; overflow:hidden; position:relative; background:url(indexPic.gif) 0 -300px;font:700 15px Arial, Helvetica, sans-serif; color:#FFCC00; padding:10px 0 0 10px;} 
#changebox #changeAction #links #support img{ position:absolute; left:0; top:-300px;} 
#changebox #changeAction #links ul{width:203px; margin:0; padding:0; float:left;} 
#changebox #changeAction #links ul li{ list-style:none;width:203px; margin:0; padding:0; float:left; color:#FFCC00; font:700 14px Arial, Helvetica, sans-serif; text-align:center;} 
#changebox #changeAction #links ul li.nVidia{width:126px;height:100px;overflow:hidden;position:relative;margin:0 0 10px 40px; padding:0; } 
#changebox #changeAction #links ul li.nVidia img{position:absolute; bottom:0; right:0;} 
#changebox #changeAction #links ul li.button{width:122px; height:20px; padding:4px 0 0 0; margin:0 0 10px 42px; overflow:hidden; background:url(indexPic.gif) 0 -369px; font:700 12px Arial, Helvetica, sans-serif;text-align:center;color:#FFFFFF; cursor:pointer;} 
#schoolButton{ color:#FFFFFF;width:50px; height:18px; font:700 12px Arial, Helvetica, sans-serif; background: #006600; text-align:center; padding:2px 0 0 0; margin:0 10px 0 0; float:left; cursor:pointer;} 
#schoolButton:hover{ background: #FFFF00; color:#000000;} 
#indexButton{ color:#FFFFFF;width:50px; height:18px; font:700 12px Arial, Helvetica, sans-serif; background: #006600; text-align:center; padding:2px 0 0 0; margin:0 10px 0 0; float:left; cursor:pointer;} 
#indexButton:hover{ background: #FFFF00; color:#000000;} 
#changebox #changeAction #links2{width:610px;height:342px; float:left; background:#333;font:700 55px Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center;} 

/* universal --------------------------------------------------------------------- */
fieldset { margin:15px 0; padding:10px; border:1px solid #CCC; }
legend { margin-left:10px; font-size:100%; font-weight:bold; color:#000; }
abbr, acronym, .help { border-bottom:1px dotted #CCC; cursor:help; }
blockquote { margin:15px 20px; font-style:italic; }
del, .del { text-decoration:line-through; }
strong, .strong { font-weight:bold; }
cite, em, q, var { font-style:italic; }
code, kbd, samp  {font-family:monospace; font-size:110%; }
hr { display:block; height:1px; margin:10px 0; padding:0; border:0 solid #CCC; background:#CCC; color:#CCC;} 
.f-left {float:left;}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.f-right {float:right;}
.a-left, tr.a-left td {text-align:left;}
.a-center, tr.a-center td {text-align:center;}
.a-right, tr.a-right td {text-align:right;}
.a-justify {text-align:justify;}
.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}
.clear { clear:both; }
.box { min-height:1px; }
.box:after { display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:"."; }
.noscreen { display:none; }

.foto{  display: block;}

